window {
    background-color: #1E1E2E;
    border: 1px solid #5E81AC;
    color: #ECEFF4;
    font-family: "Fira Code";
    font-size: 12pt;
}

entry {
    background-color: #2E3440;
    color: #ECEFF4;
    border: 1px solid #5E81AC;
}

list {
    background-color: #1E1E2E;
    color: #ECEFF4;
}

list > listitem:selected {
    background-color: #3B4252;
    color: #88C0D0;
    border: 1px solid #81A1C1;
}
